@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {list-style: none;}

a {text-decoration: none; color: inherit;}

body {
  font-family: 'Noto Sans', sans-serif;
}

/* ===== wrap ===== */
.wrap {
  width: 100vw;
  height: 100vh;
  background: #f3f1ee;
  position: relative;
  overflow: hidden;
}

/* ===== 중앙 콘텐츠 ===== */
.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* 타이틀 */
.center-box h1 {
  font-size: 52px;
  line-height: 1.3;
  margin-bottom: 40px;
  animation: floatText 3s ease-in-out infinite;
}

/* 둥실 애니메이션 (타이틀) */
@keyframes floatText {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}
.center-box h2 {
  font-weight: normal;
}

/* 버튼 */
.enter-btn {
  display: inline-block;
  padding: 14px 40px;
  background: skyblue;
  color: rgb(59, 20, 20);
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  margin-top: 30px;
}

.enter-btn:hover {
  background: rgb(59, 20, 20);
  /* background: #ff00cc; */
  color: skyblue;
}

/* ===== 이미지 영역 ===== */
.img-wrap {
  position: absolute;
  bottom: 120px;
}

.img-left {
  left: 120px;
}

.img-right {
  right: 120px;
}

.img:not(.img.ribbon) {
  width: 200px;
  height: 100%;
  /* border-radius: 50%;
  background: #000; */
  animation: blink 1.5s ease-in-out infinite;
}

.img.ribbon {
  width: 400px;
  height: 100%;
}

/* 둥실 애니메이션 (픽셀아트용) */
@keyframes blink {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}

/* 깜빡임 애니메이션 (픽셀아트용) */
/* @keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
} */

/* ===== 반응형 ===== */
@media (max-width: 1024px) {
  .center-box {
    top: 40%;
  }

  .center-box h1 {
    font-size: 40px;
  }

  .img-right {
    display: none;
  }

  .img-left {
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
  }

  .img {
    width: 200px;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {

  .center-box h1 {
    width: 380px;
    font-size: 28px;
    /* outline: 1px dotted red; */
  }

  .center-box h2 {
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
  }

  .enter-btn {
    padding: 12px 30px;
    font-size: 16px;
  }
  
}
