@charset "utf-8";

/* 전체 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {list-style: none;}

a {text-decoration: none; color: inherit;}

body {
  font-family: 'noto-sans', sans-serif;
  font-size: 18px;
  color: #333;
  min-width: 1024px;
}


/* ====== 배경 ====== */

#background {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100vw;
  height: 100vh;
  background: url('../images/bg_pattern.png') no-repeat center/cover;
  background-color: #e6e6e6;
}

/* ====== 콘텐츠 스케일용 ====== */

#scale-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background: rgba(255, 255, 255, .6);
}

/* ====== 중앙 콘텐츠 박스 ====== */
#container {
  width: 1600px;
  height: 900px;
  background: #fff;
  backdrop-filter: blur(4px);
  border-radius: 20px;
  margin: 0 auto;
  margin-top: calc((100vh - 950px) / 2);
  display: flex;
  /* overflow: hidden; */
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

/* ====== 왼쪽 프로필 영역 ====== */
#profile {
  flex-shrink: 0;
  width: 350px;
  background: rgba(255, 255, 255, .9);
  border-right: 1px solid #ddd;
  padding: 30px;
  border-radius: 20px 0 0 20px;
}

#profile .inner {
  margin-top: 80px;
}

.profile-img {
  width: 210px;
  height: 210px;
  background-image: url(../images/profile_img.jpg);
  background-repeat: no-repeat ;
  background-size: cover;
  border-radius: 10px;
  margin: 0 auto 30px;
}
.nickname {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

#profile p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 40px;
  color: #555;
}

.profile-menu {
  margin-top: 30px;
}

.profile-menu li {
  height: 30px;
  margin-bottom: 30px;
  font-size: 16px;
}

.profile-menu a {
  display: block;
  padding: 10px 15px;
  background: #f0f0f0;
  border-radius: 8px;
  color: #333;
  transition: .2s;
}

.profile-menu li:first-child select {
  padding: 2px 10px 2px 25px;
  margin-left: 50px;
  border: none;
  background: rgba(0,0,0,0);
  /* outline: 1px dotted red; */
}

.profile-menu li:last-child a {
  padding: 15px 0;
  margin-top: 50px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  background: #3b1414;
  color: #87ceeb;
  /* outline: 1px dotted red; */
}

.profile-menu a:hover {
  background: #e6e6e6;
}

.profile-menu li:last-child a:hover {
  color: rgb(59, 20, 20);
  background: skyblue;
  /* background: rgb(255, 31, 117);
  color: #fff; */
}

/* BGM li */
.profile-menu li.BGM-item {
  height: auto;
}

/* 메뉴 배경 역할 */
.profile-menu li.BGM-item {
  background: #f0f0f0;
  border-radius: 8px;
  padding: 8px 10px;
  transition: .2s;
}

.profile-menu li.BGM-item:hover {
  background: #e6e6e6;
}

/* ==== BGM 안쪽 프레임 ==== */
.BGM-frame {
  width: 100%;                
  height: 42px;
  overflow: hidden;
  padding: 4px 6px;
  box-sizing: border-box;
  border-radius: 6px;
  /* outline: 1px dotted red; */
}

.BGM-track {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.BGM {
  display: flex;
  /* align-items: center;
  padding-right: 50px; */
}

.BGM img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 4px;
  margin: 0 15px 0 30px;
  /* outline: 1px dotted red; */
}

.bgm-title {
  font-size: 14px;
  white-space: nowrap;
  color: #333;
  line-height: 32px;
  /* outline: 1px dotted red; */
}


/* ====== 오른쪽 메인 영역 ====== */
#main {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
  position: relative;
  /* outline: 1px dotted red; */
}

/* ==== 상단 메뉴 ==== */
#top-menu {
  display: flex;
  justify-content: space-between;
  height: 70px;
  flex-shrink: 0;
  border-bottom: 1px solid #ddd;
  background: rgba(255,255,255,0.8);
  border-radius: 0 20px 0 0;
  /* outline: 1px dotted red; */
}

#top-menu ul.num {
  display: flex;
  align-items: center;
  /* outline: 1px dotted blue; */
}

#top-menu ul.num li {
  font-size: 14px;
  color: skyblue;
}

#top-menu ul.num li input {
  width: 50px;
  border: 0;
  text-align: center;
  color: rgb(59, 20, 20);
}

#top-menu ul.basic {
  display: flex;
  align-items: center;
  padding-right: 50px;
  /* outline: 1px dotted red; */
}

#top-menu li {
  margin-left: 30px;
}

#top-menu a {
  color: #333;
  font-size: 18px;
}

#top-menu li a:hover {
  color: skyblue;
  text-decoration: underline;
}

/* ==== 사이드 메뉴바 영역 ==== */
#side-menu {
  position: absolute;
  right: -50px;
  top: 64px;
}

#side-menu ul li {
  margin: 5px 0;
  width: 50px;
  height: 140px;
  border-radius: 0 10px 10px 0;
  color: rgb(59, 20, 20);
  background: skyblue;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  letter-spacing: 2px;
}

#side-menu ul li a {
  display: block;
  width: 50px;
  height: 140px;
}

#side-menu ul li:hover a,
#side-menu ul li.active a {
  background: #3b1414;
  color: skyblue;
  border-radius: 0 10px 10px 0;
}

/* ==== 메인 콘텐츠 영역 ==== */
#content-area {
  position: relative;
  max-height: 1200px;
  padding: 30px 40px 0 40px;
  flex: 1;
  overflow-y: scroll;
  /* outline: 1px dotted red; */
}

#content-area::after {
  content: '';
  display: block;
  clear: both;
}

#content-area h2 {
  float: left;
  margin-bottom: 50px;
}

/* ===============================
   버튼
================================ */
.category_btn {
  float: right;
  position: relative;
  z-index: 100;
}

.category {
  padding: 10px 20px;
  margin-left: 8px;
  color: #3b1414;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.category:hover {
  text-decoration: underline;
  color: skyblue;
}

.category.active {
  color: skyblue;
  text-decoration: underline;
  font-weight: 600;
}

/* ==== 갤러리 ==== */
#project_area {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 30px 50px 30px;
  box-sizing: border-box;
}

.project-gallery-grid {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.gallery-item {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

/* 썸네일 액자 */
.thumb-img {
  aspect-ratio: 6 / 3;
  background-color: #eee;        /* 이미지 없을 때 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* 썸네일 이미지 지정 */
.project1 > .thumb-img { background-image: url(../images/design/d1_1.png); }
.project2 > .thumb-img { background-image: url(../images/design/d2_1.png); }
.project3 > .thumb-img { background-image: url(../images/design/d3_1.png); }
.project4 > .thumb-img { background-image: url(../images/design/d4_1.png); }
.project5 > .thumb-img { background-image: url(../images/design/d5_1.png); }
.project6 > .thumb-img { background-image: url(../images/design/d6_1.png); }
.project7 > .thumb-img { background-image: url(../images/design/d7_1.png); }
.project8 > .thumb-img { background-image: url(../images/design/d8_1.png); }
.project9 > .thumb-img { background-image: url(../images/design/d9_1.png); }

.thumb-title {
  padding: 12px;
  background: #fff;
  font-size: 15px;
}


/* ===============================
   모달 공통
================================ */
.hidden {
  display: none;
}

.project-popup-wrap {
  position: fixed;
  inset: 0;
  z-index: 9999;
}

.project-popup-wrap.hidden {
  display: none;
}

/* .project-popup {
  position: absolute;
  inset: 0;
} */

.popup-bg {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1170px;
  height: 620px;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.popup-scroll {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px;
}

/* 팝업 헤더 */
.popup-header {
  display: flex;
  align-items: center; /* h3와 X 버튼 수직 중앙 정렬 */
  justify-content: center; /* 기본은 가운데 */
  position: relative;
  padding: 16px 20px;
  background: #eee;
}

.popup-header .modal-close {
  position: absolute;
  right: 20px; 
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.popup-header h3 {
  text-align: center;
}

.popup-content img {
  max-width: 100%;
  display: block;
  vertical-align: top;
}

.project-meta>div {
  margin-bottom: 10px;
  /* outline: 1px dotted red; */
}

.project-meta>div:last-child {
  margin-bottom: 30px;
  /* outline: 1px dotted red; */
}

/* ===== 로그인 모달 ===== */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.modal.hidden {
  display: none;
}

/* 어두운 배경 */
.modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* 팝업 박스 */
.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 350px;
  background: #fff;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-sizing: border-box;
}

/* 닫기 버튼 */
.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
}

/* 로그인 폼 */
.login-form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-form input {
  height: 50px;
  font-size: 16px;
  padding: 0 15px;
  background: #eee ;
  border: none;
  border-radius: 5px;
}

.login-form button {
  width: 200px;
  height: 55px;
  font-size: 22px;
  background: #000;
  color: #87ceeb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 120px;
}

.login-form button:hover {
  background: skyblue;
  color: #3b1414;
}


/* ===== 로그인 페이크 토스트 ===== */
.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 80px;
  transform: translate(-40%, -50%);
  background: #000;
  color: #fff;
  z-index: 10000;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-size: 18px;
  line-height: 1.4;
  padding: 10px 20px;
  box-sizing: border-box;
}

.toast.hidden {
  display: none;
}

/* ===== 회원가입 모달 크기 ===== */
.signup-box {
  width: 550px;
  height: 650px;
}

/* 스크롤 영역 */
.signup-scroll {
  margin-top: 30px;
  max-height: 380px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}

/* 회원가입 폼 */
.signup-form .txt_box {
  margin-bottom: 20px;
}

.signup-form .txt_box p {
  margin-bottom: 10px;
}

.signup-form .txt_box input {
  width: 450px;
  height: 50px;
  font-size: 16px;
  padding: 0 15px;
  background: #eee;
  border: none;
  border-radius: 5px;
}

.signup-form .txt_box input:focus {
  border: none;
  outline: none;
}

.signup-form .txt_box textarea {
  width: 450px;
  min-height: 120px;
  font-size: 16px;
  padding: 15px;
  box-sizing: border-box;
  background: #eee;
  border: none;
  border-radius: 5px;
  resize: none;
  line-height: 1.5;
}

.signup-form .txt_box textarea:focus {
  border: none;
  outline: none;
}

.signup-form button {
  margin-top: 50px;
  margin-left: calc(250px/2);
  width: 200px;
  height: 55px;
  font-size: 22px;
  background: #000;
  color: #87ceeb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form button:hover {
  background: skyblue;
  color: #3b1414;
}

/* ===== 쪽지 보내기 모달 ===== */

#messageModal .modal-content {
  width: 360px;
}

#messageForm {
  height: 520px;  /* 모달 안에서 고정 기준 */
  display: flex;
  flex-direction: column;
}


/* fieldset 기본 정리 */
#messageForm fieldset {
  flex: 1;
  min-height: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  border: 0;
  overflow-y: auto;
  scrollbar-color: #ccc;
  margin-top: 20px;
  /* outline: 1px dotted red; */
}

#messageForm fieldset h2 {
  /* margin-bottom: 20px; */
}

/* input / textarea 공통 */
#messageForm input[type="text"],
#messageForm textarea {
  width: 100%;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #bbb;
  box-sizing: border-box;
}

/* textarea 설정 */
#messageForm textarea {
  min-height: 230px;   /* 기본 영역 크게 */
  resize: none;        /* 수동 리사이즈 불가 */
  overflow-y: auto; 
  line-height: 1.5;
  white-space: pre-wrap;  /* 자동 줄바꿈 */
}

/* 파일 첨부 */
.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  margin-top: 20px;
  padding: 10px;
  background: #eee;
}

.file-upload input[type="file"] {
  font-size: 12px;
}

/* 쪽지보내기 버튼 */
#messageForm button[type="submit"] {
  margin-top: 25px;
  margin-left: calc(250px/2);
  width: 200px;
  min-height: 55px;
  font-size: 22px;
  background: #000;
  color: #87ceeb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#messageForm button:hover {
  background: skyblue;
  color: #3b1414;
}

/* ===== FAQ 모달 ===== */

.faq-box h2 {
  margin-bottom: 20px;
}

/* 스크롤 영역 */
.faq-scroll {
  margin-top: 20px;
  max-height: 460px;
  overflow-y: auto;
  padding-right: 5px;
}

/* FAQ 리스트 */
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 질문 타이틀 */
.faq-title {
  padding: 15px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: rgba(135, 206, 235, .5);
  font-size: 16px;
  margin-top: 10px;
}

.faq-title:hover {
  background: #3b1414;
  color: skyblue;
}

/* 클릭되어 열린 상태 = hover 고정 */
.faq-item.active .faq-title {
  background: #3b1414;
  color: skyblue;
}

/* 답변 영역 */
.faq-answer {
  display: none;
  padding: 15px;
  background: #eee;
  border: 1px solid #ccc;
  border-top: none;
  font-size: 14px;
  line-height: 1.5;
}

/* 열렸을 때 */
.faq-item.active .faq-answer {
  display: block;
}

/* ==== 메인 사이즈 미디어쿼리 ==== */

@media screen and (max-width: 1600px) {
  #container {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 1280px) {
  #container {
    transform: scale(0.75);
  }
}

/* ---------- 1280px 미만 ---------- */
/* @media screen and (max-width: 1279px) { 
  #top-menu ul.basic {
    display: none;
  }
  #content-area h2 {
    float: none;
    margin-bottom: 20px;
  }

  .category_btn {
    float: none;
  }
} */

/* ---------- 1024px 미만 ---------- */
/* 1. 3단 → 2단 */
/* @media screen and (max-width: 1023px) {
  .project-gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/* ---------- 768px 미만 ---------- */
/* 1. 2단 → 1단 */
/* @media screen and (max-width: 767px) {
  .project-gallery-grid {
    grid-template-columns: 1fr;
  }
} */